{% extends 'layout.html.twig' %}

{% block content %}
    <ul>
        {% for contact in contacts %}
            <li>{{ contact.content }}&nbsp;<a href="{{ path('app_contacts_edit', {id : contact.id}) }}">edit</a></li>
        {% endfor %}
    </ul>
{% endblock %}